<!doctype html>
<html ng-app="snowmentum" ng-csp>
  <head>
    <title>New Tab</title>
    <link rel="stylesheet" type="text/css" href="app/app.css">
    <link rel="stylesheet" type="text/css" href="assets/font-awesome.css">
  </head>

  <body ng-controller="MainController">
    <div id="background"></div>
    <div id="widget">
      <div id="center" ng-if="!name">
        <div id="introduction">
          <p>
            <form ng-submit="saveName(name)">
              <span>Hello, what's your name?</span>
              <input type="text" ng-model="name">
            </form>
          </p>
        </div>
      </div>
    </div>
    <div id="widgets" ng-if="name">
      <!-- Clock & greeting -->
      <div id="center">
        <div id="centerclock">
          <h1>{{ time }}</h1>
        </div>
        <div id="greeting">
          <h2 ng-if="!hasSpot">
            Good <span>{{ period }}</span>, <span>{{ name }}</span>.
          </h2>
          <h2 ng-if="hasSpot">
            <span>{{ nextGoodDayMessage }}</span>
          </h2>
        </div>
      </div>

      <!-- Maybe put something here? -->
      <!-- <div id="center-above">center-above</div> -->

      <!-- Surf spot -->
      <div id="center-below">
        <div id="focuses">
          <!-- Input spot: Add fade out -->
          <div ng-if="!hasSpot" class="prompt">
            <form ng-if="!isProcessing" ng-submit="getForecast()">
              <h3>Where do you surf?</h3>
              <input type="text" ng-model="spot.name" typeahead="spot for spot in spots | filter:$viewValue | limitTo:8" typeahead-editable="false">
            </form>
            <i ng-if="isProcessing" class="fa fa-spin fa-circle-o-notch fa-2x"></i>
          </div>
          <!-- Display graph -->
          <canvas ng-if="hasSpot" linechart responsive="true" options="chartOptions" data="chart" width="500" height="150"></canvas>
        </div>
      </div>

      <!-- Link to Chrome Apps -->
      <div id="top-left">
        <div id="chrome-apps">
          <a class="apps" href="#" ng-click="navToChromeApps()">Apps</a>
        </div>
      </div>

      <!-- Change your surf spot -->
      <div ng-if="hasSpot" id="top-right">
        <div id="spot-change">
          <a class="resetspot" href="#" ng-click="resetSpot()">Change spot</a>
        </div>
      </div>

      <!-- Current surf spot -->
      <div ng-if="hasSpot" id="bottom">
        <div id="spot-info">
          <span class="current"> Current spot: {{ spot.name }} </span>
        </div>
      </div>

      <!-- Background info -->
      <div id="bottom-left">
        <div id="background-info">
          <span class="title">Picture spot</span>
          <span class="source">
            <a href="#" class="source-url">Photo cred</a>
          </span>
        </div>
      </div>

      <!-- MSW link -->
      <div id="bottom-right">
        <a ng-if="!hasSpot" ng-href="http://magicseaweed.com"><img src="http://im-1-uk.msw.ms/msw_powered_by.png"></a>
        <a ng-if="hasSpot" ng-href="{{spot.mswLink}}"><img src="http://im-1-uk.msw.ms/msw_powered_by.png"></a>
      </div>
    </div>

    <!-- bower components -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/chartjs/Chart.js"></script>
    <script src="assets/angular-bootstrap/ui-bootstrap-typeahead.js"></script>
    <script src="assets/angles.js"></script>
    <!-- App -->
    <script src="app/app.js"></script>
    <script src="app/mswspots.js"></script>
  </body>
</html>

