html { 
  height: 100%;
  font-size: 18px;
}

body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: #fff;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.1); 
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('/assets/images/surf2.jpg');
}

/*
  ==================
  Widget Positioning
  ==================
*/

#widgets {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#center, #top-left, #top-right, #bottom, #bottom-right, #bottom-left, #center-below, #center-above {
  position: absolute;
  z-index: 2;
  opacity: .8;
}

#center, #center-below, #center-above {
  display: block;
  top: 50%; left: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(-50%,-50%);
  -webkit-transform-origin: 50% 50%;
}

#top-right {
  top: 0; right: 0;
}

#top-left {
  top: 0; left: 0; 
}

#bottom {
  bottom: 0; left: 50%;
  -webkit-transform: translateX(-50%);
  -webkit-transform-origin: 50% 50%;
}

#bottom-right { 
  bottom: 0; right: 0;
  z-index: 100;
}

#bottom-left {
  bottom: 0; left: 0;
  z-index: 100;
}


#center-below, #center-above {
  left: 0; top: 73.5%;
  -webkit-transform: translate(0,0);
  text-align: center;
}
#center-above {
  top: 0;
  z-index: 1;
}

#center-below {
  z-index: 10;
}

a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all 0.1s ease-in;
}

a:hover { 
  opacity: 1;
}

/*
  ==================
  Widget Definitions
  ==================
*/

  /* Center Clock */

  #centerclock { display: inline-block; position: relative; }
  #centerclock .format { position: absolute; left: 102%; bottom: 9%; font-size: 25px; opacity: 0; }
  #centerclock .show { opacity: 1; -webkit-animation: fadeout 4s ease 4s 1 normal; -webkit-animation-fill-mode: forwards; }
  #centerclock h1 { cursor: default; -webkit-user-select: none; }

  #centerclock h1, #greeting h2, #introduction, #focus { text-align: center; line-height: 1; padding: 0; margin: 0; color: #fff; letter-spacing: -5px; font-size: 180px; font-weight: lighter; }

  /* Greeting */

  #greeting h2, #introduction, #focus { font-size: 54px; letter-spacing: 0; white-space: nowrap; }

  #greeting .name { display: inline-block; max-width: 15em; margin: -5px 0; padding: 5px 0; border-top-left-radius: 1px; border-top-right-radius: 1px; cursor: default; outline: none; overflow: hidden; -webkit-user-select: none; user-select: none; vertical-align: top; }
  #greeting .editing { min-width: 1.5em; margin-bottom: -8px; border-bottom: 3px solid #fff; cursor: auto; }

  /* Introduction */

  #introduction { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.7em; text-align: center; }
  #introduction { opacity: 0; }
  #introduction input, #focuses .prompt input { background: 0; border: 0; width: 300px; border-bottom: 3px solid #fff; outline: none; color: #fff; text-align: center; }
  #introduction p { margin: 0; }
  #introduction .logo { margin-bottom: 10px; }
  #introduction img { width: 120px; vertical-align: bottom; }

  /* Focuses */

  #focuses { width: 100%; font-size: 30px; line-height: 1.5em; }

  #focuses ol { margin: 0; padding:0; }

  #focuses .focus { opacity: 0; display: inline-block !important; overflow: visible; height: 94px; }

  #focuses h3, #focuses .focus p { padding: 0; margin: 0; }

  #focuses .prompt h3 { font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif; font-weight: normal; }
  #focuses .focus h3 { text-transform: capitalize; }
  #focuses .prompt input { font-size: 28px; width: 10em; border-bottom-width: 2px; font-weight: bold; line-height: 1.2em; }

  #focuses .focus p:hover .delete { opacity: 1; }

  #focuses .focus p { position: relative; }

  #focuses .focus .delete { position: absolute; display: block; height: 26px; width: 26px; top: 10px; right: -38px; background: rgba(255,255,255,0); border-radius: 100px; cursor: pointer; font-size: 12px; line-height: 26px; opacity: 0; -webkit-transition: all 0.1s ease-in-out; -webkit-transform-origin: 50% 50%; border: 1px solid rgba(255,255,255,0); }
  #focuses .focus .delete:hover { border: 1px solid rgba(255,255,255,0.5); opacity: 1; -webkit-transform: scale(1.2); }

  /* Animations */

  .softpulse { -webkit-animation: updatepulse 1s ease 0.5s 1 normal; }
  .pulse { -webkit-animation: pulse 1s ease 0s 1 normal; }

  @-webkit-keyframes updatepulse {
    0% { background: rgba(255,255,255,0); }
    5% { background: rgba(255,255,255,0.6); }
    100% { background: rgba(0,0,0,0.3); }
  }

  @-webkit-keyframes pulse {
    0% { background: rgba(255,255,255,0.5); }
    100% { background: rgba(255,255,255,0); }
  }
  @-webkit-keyframes fadein { from { opacity: 0 } to { opacity: 1 } }
  @-webkit-keyframes fadeout { from { opacity: 1 } to { opacity: 0 } }

  #bottom-left { opacity: 1; transition: all 0.2s ease-in; }
    #bottom-left:hover { opacity: 1; }

  #background-info, #spot-info, #spot-change, #chrome-apps #momentum { display: inline-block; }

  /* Spot info */
  #spot-info { height: 80px; width: 500px; position: absolute; bottom: 0; font-size: 0.9em; font-weight: 500; opacity: 1; transition: all 0.2s ease; -webkit-transform: translateX(-50%);}
    #spot-info .current { 
      position: absolute;
      bottom: 10px;
      font-size: 1.05em;
      line-height: 1.2em;
      text-align: center;
      width: 100%
    }

  /* Spot change */
  #spot-change { height: 80px; width: 240px; position: absolute; top: 0; right: 0; font-size: 0.9em; font-weight: 500; opacity: 1; transition: all 0.2s ease; }
    #spot-change .resetspot { 
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 1.05em;
      line-height: 1.2em;
    }

  /* Chrome apps*/
  #chrome-apps { height: 80px; width: 240px; position: absolute; top: 0; left: 0; font-size: 0.9em; font-weight: 500; opacity: 1; transition: all 0.2s ease; }
    #chrome-apps .apps { 
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 1.05em;
      line-height: 1.2em;
    }

  /* Background info*/
  #background-info { height: 80px; width: 240px; position: absolute; left: 0; bottom: 0; font-size: 0.9em; font-weight: 500; opacity: 1; transition: all 0.2s ease; }
    #background-info.fadeout { -webkit-animation: fadeout 8s ease 12s forwards; }

    #background-info .title, #background-info .source { position: absolute; bottom: 20px; left: 20px; transition: all 0.2s ease-out; white-space: nowrap; }
      #background-info .title { font-size: 1.05em; line-height: 1.2em; opacity: 0.9; transition-delay: 0.2s;  }
        #background-info:hover .title { -webkit-transform: translateY(-11px); transition-delay: 0;  }
          #background-info.source-unknown:hover .title { -webkit-transform: none; }

      #background-info .source { height: 100%; width: 100%; bottom: 0; left: 0; box-sizing: border-box; font-size: 0.8em; opacity: 0; overflow: hidden; transition-delay: 0s; }
        #background-info:hover .source { -webkit-transform: translateY(6px); transition-delay: 0.2s; opacity: 1; }

        #background-info .source-url { height: 100%; width: 100%; padding-left: 20px; padding-top: 46px; display: block; cursor: pointer; }
        .source-url img { width: 72px; height: 10.44px; margin-left: 1px; }

        #background-info.title-unknown .title, #background-info.source-unknown .source { font-style: italic; }

    #background-info.active { }
      #background-info.active > a { -webkit-transform: scale(1.2) translate(0,-20px); -webkit-tranform-origin: 50% 100%;}
      #background-info.active .info { background: rgba(0,0,0,1); transition: all 0.2s ease; -webkit-transform: translate(0,-40px); }

    #background-info .actions { position: relative; bottom: 63px; left: 0; background: rgba(0,0,0,0.8); border-radius: 10px; opacity: 0; transition: all 0.2s ease; -webkit-transform-origin: 25% 100%; -webkit-transform: translateY(8px) scale(0.8); z-index: 0; }
      #background-info.active .actions { visibility: visible; opacity: 1; -webkit-transform: translateY(0) scale(1); z-index: 1; }

      .typeahead {
        z-index: 1051;
        margin-top: 2px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
